.env
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
k8s/

# IDE and Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
